* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
}

.card {
    height: 100%;
    width: 1440px;
    display: flex;
    justify-content: center;
}

.card img {
    border-radius: 10px 0px 0px 10px;
}

.card-description {
    display: flex;
    width: 40%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0px 10px 10px 0px;
    flex-direction: column;
    padding: 50px 50px 40px 50px;
}

.title,
.description,
.price {
    margin-top: 40px;
}

.perfume {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    font-weight: 300;
    font-size: 32px;
    color: hsl(228, 12%, 48%)
}

.title {
    line-height: 90%;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 76px;
    color: hsl(212, 21%, 14%);
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 32px;
    font-style: normal;
    color: hsl(228, 12%, 48%)
}

.price {
    display: flex;
    min-width: 100vh;
    flex-direction: row;
    align-items: center;
}

.new {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 48px;
    color: hsl(158, 36%, 37%)
}

.old {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-left: 80px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.buy-button {
    margin-top: 80px;
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%)
}

.buy-button span {
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.buy-button img {
    width: 6%;
    height: auto;
}

